.headerCenter{
  text-align: center;
}
.timePicker{
  margin-top: -28px;
}
.requiredField{
  margin-bottom: 20px;
}
.fontRed{
  color:red;
  font-family: "Courier New";
}
.fontGrey{
  color:grey;
  font-family: "Courier New";
}
.fontGreen{
  color:green;
  font-family: "Courier New";


}

.passwordG {
  font-size: 2.2em;
}
.fontPasswordBlack{
  color:black;
}
.fontPasswordGreen{

  color:green;
}
#progressBarAccount{
  margin-top:30px;
}
#passwordCheckbox{
  width: auto;
}
#passwordCheckboxBody{
  background: #fcfcfc;

}
.createAccountButtonGroup{
  margin-top: 30px;
}
@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block;
  }
}
