<h5>Optional Fields: <u>Can be completed later!</u> </h5>
<ng-form name="registerForm.personal"
         novalidate="novalidate"
         autocomplete="on">
  <div class="form-group">
    <label for="jobtitel" class="control-label">Jobtitel</label>
    <input type="text"
           autofocus
           name="jobtitel"
           ng-model="registerModel.jobtitel"
           class="form-control"
           placeholder="What is your jobtitel"
           id="jobtitel">
  </div>
  <div class="form-group">
    <label for="employer" class="control-label">Employer</label>
    <input type="text"
           name="employer"
           ng-model="registerModel.employer"
           class="form-control"
           placeholder="Who is your employer"
           id="employer">
  </div>
  <div class="form-group" >
    <div class="row">
      <div class="col-md-3">
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" ng-model="registerModel.gender" value="male">
      </div>
      <div class="col-md-">
        <label for="female">Female</label>
        <input type="radio" name="gender" ng-model="registerModel.gender" id="female" value="female">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="birthday" class="control-label">Birthday</label>
    <div class="input-group">
      <input type="date"
             class="form-control"
             id="birthday"
             name="eventStartDate"
             ng-model="registerModel.birthday">
    </div>
  </div>
  <div class="form-group">
    <label for="nationality" class="control-label">Nationality</label>
    <input type="text"
           name="nationality"
           ng-model="registerModel.nationality"
           class="form-control"
           placeholder="What is your nationality"
           id="nationality">
  </div>
  <div class="row createAccountButtonGroup">
      <button ui-sref="createAccount.info" class="btn btn-warning col-md-4 col-md-offset-1">Back</button>
      <button ng-click="createNewAccount(registerModel)" class="btn btn-success col-md-4 col-md-offset-2 ">Register</button>
  </div>
</ng-form>
