<ng-form
      name="registerForm.info"
      autocomplete="on"
      class="registrationForminfo"
      novalidate="novalidate">
  <div class="form-group">
    <label for="frmNameA" class="control-label">Name*</label>
    <input type="text"
           autofocus
           name="fname"
           ng-model="registerModel.name"
           class="form-control"
           required
           autocomplete="fname"
           placeholder="Name"
           ng-keyup="checkValidation()"
           id="frmNameA">
    <div ng-show="registerForm.info.$submitted || registerForm.info.fname.$touched">
      <span class="fontRed" ng-show="registerForm.info.fname.$error.required">Please enter us your Name.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="control-label">Lastname*</label>
    <input type="text"
           ng-blur=""
           ng-model="registerModel.lastname"
           class="form-control"
           required="required"
           name="lname"
           placeholder="Lastname"
           autocomplete="lname"
           ng-keyup="checkValidation()"
           id="lastname">
    <div ng-show="registerForm.info.$submitted || registerForm.info.lname.$touched">
      <span class="fontRed" ng-show="registerForm.info.lname.$error.required">Please us your Last Name.</span>
    </div>

  </div>
  <div class="form-group">
    <label for="email" class="control-label">Emailadress*</label>
    <input type="email"
           ng-model="registerModel.email"
           class="form-control"
           placeholder="Emailadress"
           required="required"
           name="email"
           autocomplete="email"
           ng-keyup="checkValidation()"
           id="email">
    <div ng-show="registerForm.info.$submitted || registerForm.info.email.$touched">
      <span class="fontRed" ng-show="registerForm.info.email.$error.required">PLease tell us your email.</span>
      <span class="fontRed" ng-show="registerForm.info.email.$error.email">This is not a valid email.</span>
    </div>
  </div>
  <div class="form-group">
    <div ng-hide="showPasswordCriteriaMobil">
        <div class="col-md-12">
          <h5>
            <span ng-class="{fontGrey: !passwordLength, fontGreen: passwordLength}" class="help-inline">at least 12 digits </span>
            <span ng-show="passwordLength" style="color: green;" class="glyphicon glyphicon-ok-circle"></span>
          </h5>
        </div>

        <div class="col-md-12">
          <h5>
            <span ng-class="{fontGrey: !passwordNumber, fontGreen: passwordNumber}"  class="help-inline"> at least one Number</span>
            <span ng-show="passwordNumber" style="color: green;" class="glyphicon glyphicon-ok-circle"></span>
          </h5>
        </div>

        <div class="col-md-12">
          <h5>
            <span ng-class="{fontGrey: !passwordUppercase, fontGreen: passwordUppercase}"  class="help-inline">at least one Uppercase</span>
            <span ng-show="passwordUppercase" style="color: green;" class="glyphicon glyphicon-ok-circle"></span>
          </h5>
        </div>

        <div class="col-md-12">
          <h5>
            <span ng-class="{fontGrey: !passwordSpecialCase, fontGreen: passwordSpecialCase}"  class="help-inline">at least one special Case</span>
            <span ng-show="passwordSpecialCase" style="color: green;" class="glyphicon glyphicon-ok-circle"></span><br>
            <span ng-class="{fontGrey: !passwordSpecialCase, fontGreen: passwordSpecialCase}"  class="help-inline">["!", "§", "$", "%", "&", "/", "(", ")", "=", "?"]</span>

          </h5>
        </div>
    </div>
    <label for="password" class="control-label">Create Password*</label>
    <input type="{{inputType}}"
           ng-model="registerModel.password"
           class="form-control"
           ng-keyup="checkPassword(registerModel.password)"
           ng-keydown="checkPassword(registerModel.password)"
           placeholder="Passwort"
           id="password"
           required="required"
           name="password"
           autocomplete="off">
     <div ng-hide="showPasswordCriteriaMobil"><uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{passwordStrength}}</uib-progressbar></div>
    <div ng-show="registerForm.info.$submitted || registerForm.info.password.$touched">
      <span class="fontRed" ng-show="registerForm.info.password.$error.required">Please enter a password</span>
    </div>
  </div>
  <div class="form-group">
    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
    <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
    <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
  </div>
  <button ui-sref="createAccount.personal" class="btn btn-success col-md-10 col-md-offset-1"  ng-disabled="unlockRegButton">Register</button>
</ng-form>
