<div class="row">
  <div class="col-md-4 col-md-offset-4" id="registration">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="headerCenter">Registration</h4>
      </div>
      <div class="panel-body">
        <ng-form name="registrationForm"
                 autocomplete="on"
                 novalidate="novalidate">
          <ui-view></ui-view>

        </ng-form>
      </div>
    </div>
  </div>
  <div class="col-md-4" id="passwordCheckbox" ng-hide="showPasswordCriteria">
    <div class="panel panel-{{type}}">
      <div class="panel-heading">
        Password Strength : {{passwordStrength}}
      </div>
      <div class="panel-body" id="passwordCheckboxBody">
        <div class="row">
          <div class="col-md-1"><h5><span ng-show="passwordLength" style="color: green;" class="glyphicon glyphicon-ok-circle"></span></h5></div>
          <div class="col-md-10"><h5><span ng-class="{fontGrey: !passwordLength, fontGreen: passwordLength}" class="help-inline">at least 12 digits </span></h5></div>
        </div>
        <div class="row">
          <div class="col-md-1"><h5><span ng-show="passwordNumber" style="color: green;" class="glyphicon glyphicon-ok-circle"></span></h5></div>
          <div class="col-md-10"><h5><span ng-class="{fontGrey: !passwordNumber, fontGreen: passwordNumber}"  class="help-inline"> at least one Number</span></h5></div>
        </div>
        <div class="row">
          <div class="col-md-1"><h5><span ng-show="passwordUppercase" style="color: green;" class="glyphicon glyphicon-ok-circle"></span></h5></div>
          <div class="col-md-10"><h5><span ng-class="{fontGrey: !passwordUppercase, fontGreen: passwordUppercase}"  class="help-inline">at least one Uppercase</span></h5></div>
        </div>
        <div class="row">
          <div class="col-md-1"><h5><span ng-show="passwordSpecialCase" style="color: green;" class="glyphicon glyphicon-ok-circle"></span></h5></div>
          <div class="col-md-10"><h5><span ng-class="{fontGrey: !passwordSpecialCase, fontGreen: passwordSpecialCase}"  class="help-inline">at least one special Case</span></h5></div>
        </div>
        <div id="progressBarAccount" class="col-md-12 ">
          <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{passwordStrength}}</uib-progressbar>
        </div>
      </div>
    </div>
  </div>
</div>

