<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="headerCenter">Add new event</h4>
    </div>

    <div class="panel-body">
      <form name="eventForm"
            class="eventFormValidation"
            novalidate="novalidate">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="eventName" class="control-label">Eventname*</label>
              <input type="text"
                     name="eventName"
                     autofocus
                     ng-keyup="isValid()"
                     ng-model="eventModel.eventName"
                     class="form-control validationInput"
                     required="required"
                     placeholder="What is the Name of Event"
                     id="eventName">
              <div ng-show="eventForm.$submitted || eventForm.eventName.$touched">
                <span class="fontRed" ng-show="eventForm.eventName.$error.required">Please enter the name of the Event</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group eventType">
              <label>Event Type*
                <input list="eventType"
                       name="eventType"
                       type="text"
                       ng-keyup="isValid()"
                       class="form-control validationInput"
                       required="required"
                       ng-model="eventModel.eventType"/>
              </label>
              <datalist id="eventType">
                <option value="Birthday">
                <option value="Wedding">
                <option value="Conference">
                <option value="Business">
                <option value="Charity">
              </datalist>
              <div ng-show="eventForm.$submitted || eventForm.eventType.$touched">
                <span class="fontRed" ng-show="eventForm.eventType.$error.required">Please enter the type of Event</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="eventHost" class="control-label">Host of the Event</label>
          <input type="text"
                 name="eventHost"
                 ng-keyup="isValid()"
                 ng-model="eventModel.eventHost"
                 class="form-control validationInput"
                 required="required"
                 placeholder="Could be an individual’s name or an organization"
                 id="eventHost">
          <div ng-show="eventForm.$submitted || eventForm.eventHost.$touched">
            <span class="fontRed" ng-show="eventForm.eventHost.$error.required">Please enter the name of the Host</span>
          </div>
          <!--ng-style="((eventForm.$submitted || eventForm.eventStartDate.$touched) && !eventForm.eventStartDate.$valid) && {'background-color':'#FFD9D9'}"-->
          <!--ng-class="{inValidMinDateCss: inValidMinDate === false || minDate === true, validMinDateCss: inValidMinDate === true || minDate ==true}"-->

        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="eventStartDate" class="control-label">Starting Date&Time</label>
                <input type="datetime-local"
                       name="eventStartDate"
                       ng-model="eventModel.eventStartDate"
                       class="form-control inputDate"
                       min="{{minDateSet | date:'yyyy-MM-ddTHH:mm'}}"
                       required="required"
                       ng-keyup="validateDate(eventModel.eventStartDate,eventModel.eventEndDate);isValid()"
                       ng-blur="setminDateEnd(eventModel.eventStartDate)"
                       id="eventStartDate">
                <div ng-show="eventForm.$submitted || eventForm.eventStartDate.$touched">
                  <span ng-hide="eventForm.eventStartDate.$valid" class="fontRed">Please enter a correct Date</span>
                </div>

              </div>
            </div>

          <div class="col-md-6">
              <div class="form-group">
                <label for="eventEndDate" class="control-label">Ending Date&Time</label>
                <input type="datetime-local"
                       name="eventEndDate"
                       ng-disabled="lockEndDate"
                       ng-model="eventModel.eventEndDate"
                       class="form-control"
                       required="required"
                       min="{{minDateEnd | date:'yyyy-MM-ddTHH:mm'}}"
                       ng-keyup="validateDate(eventModel.eventStartDate,eventModel.eventEndDate);isValid()"
                       id="eventEndDate">
                <span class="fontRed" ng-show="eventForm.eventEndDate.$error.min">Start Date and Time must be smaller then end date and Time!</span>
                <div ng-show="eventForm.$submitted || eventForm.eventEndDate.$touched">
                  <span class="fontRed" ng-show="eventForm.eventEndDate.$error.required">Please enter a end Date and Time</span>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="locality" class="control-label">Cityname*</label>
              <input class="field form-control validationInput"
                     ng-keyup="isValid()"
                     ng-model="eventModel.locality"
                     id="locality"
                     name="locality"
                     required="required"
                     placeholder="New York, Chicago ...">
              <div ng-show="eventForm.$submitted || eventForm.locality.$touched">
                <span class="fontRed" ng-show="eventForm.locality.$error.required">Please enter the name of the City</span>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="route" class="control-label">Street Name</label>
              <input class="field form-control validationInput"
                     id="route"
                     name="route"
                     ng-keyup="isValid()"
                     required="required"
                     ng-model="eventModel.streetname"
                     placeholder="Adress">
              <div ng-show="eventForm.$submitted || eventForm.route.$touched">
                <span class="fontRed" ng-show="eventForm.route.$error.required">Please enter the name of the street</span>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="street_number" class="control-label">Nr.*</label>
              <input class="field form-control validationInput"
              name="street_number"
               ng-keyup="isValid()"
               ng-model="eventModel.streetNumber"
              id="street_number"
              required="required"
              placeholder="Nr.">
              <div ng-show="eventForm.$submitted || eventForm.street_number.$touched">
                <span class="fontRed" ng-show="eventForm.street_number.$error.required">Please enter the number of the street</span>
              </div>

            </div>

          </div>
        </div>
        <div class="form-group">
            <label for="nameLocation" class="control-label">Name of Location</label>
            <input class="field form-control validationInput"
                   ng-model="eventModel.nameLocation"
                   id="nameLocation"
                   name="nameLocation"
                   placeholder="Name of hotel,restaurant or other">
          </div>
        <div class="form-group">
          <label for="guestlist" class="control-label">Guests*</label>
          <textarea ng-list
                    type="text"
                    name="guestlist"
                    required="required"
                    ng-keyup="isValid()"
                    ng-model="eventModel.guestlist"
                    class="form-control validationInput"
                    placeholder="Please seperate each Guest with a ' , '"
                    id="guestlist">
          </textarea>
          <div ng-show="eventForm.$submitted || eventForm.guestlist.$touched">
            <span class="fontRed" ng-show="eventForm.guestlist.$error.required">Please add at least one name to the guest list</span>
          </div>
        </div>
        <div class="form-group">
          <label for="information" class="control-label">Information</label>
           <textarea
              ng-model="eventModel.information"
              rows="3"
              class="form-control"
              placeholder="Got some usefull Information for our guest?"
              id="information">
          </textarea>
        </div>
        <div class="col-md-12 requiredField">
          <span>* required Fields</span>
        </div>
        <button  ng-disabled="lockButton" ng-click="addEvent(eventModel)"  class="btn btn-success col-md-10 col-md-offset-1">Add Event</button>
      </form>
    </div>
  </div>
</div>
